<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCUserCRUD:war">
    <output-path>$PROJECT_DIR$/SpringMVCUserCRUD/target</output-path>
    <root id="archive" name="SpringMVCUserCRUD.war">
      <element id="artifact" artifact-name="SpringMVCUserCRUD:war exploded" />
    </root>
  </artifact>
</component>